.stylebuttondelete{
    background-color: coral;
    border-color: coral;
    color: white;
}
.stylebuttonupdate{
    background-color: green;
    border-color: green;
    color: white;
}
.styleaddstudent{
    background-color: tomato; border: 1px solid tomato;
}
.styleaddstudent:hover{
    background-color: crimson;
}
.headeradd{
    background-color: #FFC107; color:white;  border-radius: 3px;text-align: center; height: 10%; padding: 10px 5px;
}