<nav class="sticky-top navbar navbar-expand-sm row" style="padding:10px; background-color: #f5f8fa; margin: 0px">
  <form class="form-inline col-sm-7" action="">
    <input class="form-control mr-sm-2" name="searchname" placeholder="Search" [(ngModel)]="searchText" />
    <button class="btn btn-success" type="submit">Search</button>
  </form>
  <ul class="navbar-nav col-sm-5" style="color:white">
      <li class="nav-item">
        <a class="nav-link btn btn-primary" (click)="clickClassList()">Danh Sách Lớp Học</a>
      </li>&nbsp;
      <li class="nav-item">
        <a class="nav-link btn btn-primary " (click)="clickAddClass()">Thêm Mới Lớp Học</a>
      </li>
    </ul>
</nav>
<br>
<form *ngIf="statusaddclass" (ngSubmit)="AddClass(formAddClass)" #formAddClass="ngForm">
  <div class="headeradd">
    <p style="font-family: Arial, Helvetica, sans-serif;font-weight: bold; margin: auto">Thêm Mới Lớp Học</p>
  </div><br>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Tên Lớp Học</label>
    <div class="col-sm-10">
      <input name="name" [(ngModel)]="nameoc" type="text" class="form-control" id="inputName" placeholder="Nhập tên!">
    </div>
    </div>
  <br>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Giáo Viên Chủ Nhiệm</label>
    <div class="col-sm-10">
      <input name="monitor" [(ngModel)]="nameom" type="text" class="form-control" id="inputName" placeholder="Nhập tên!">
    </div>
    </div>
  <br>
  <div class="form-group row">
    <div class="col-sm-5"></div>
    <div class=" col-sm-3">
      <button class="btn btn-primary btn-md " style="color:white;display: inline-block; margin: 0 auto;" >Thêm</button>&nbsp;
      <button (click)="ReSetInput()" class="btn btn-primary btn-md " style="color:white;display: inline-block; border: chocolate; background-color: chocolate; margin: 0 auto;"
      >Hủy</button>
    </div>
    <div class="col-sm-4"></div>
  </div>
</form>
<br>
<br>
<div *ngIf="statusclasstable" >
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Mã Lớp Học</th>
      <th>Tên Lớp Học</th>
      <th>Giáo Viên Chủ Nhiệm</th>
    </tr>
  </thead>
  <tbody class="point">
    <tr *ngFor="let class of arrClasses | filterSubjects: searchText">
      <ng-container>
        <td>{{class.id}}</td>
        <td>{{class.name}}</td>
        <td>{{class.monitor}}</td>
        <td>
          <a style="color:white; background-color:#D95355; border: #D95355 " class="btn btn-primary btn-sm stylebuttondelete" (click)="DeleteClass(class)">Xóa</a>
        </td>
        <td>
          <a style="color:white" class="btn btn-success btn-sm" (click)="UpdateClassIn(class)">Cập Nhật</a>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
</div>
<form name="formUpdate" *ngIf="statusupdateclass" (submit)="UpdateClass(formUpdateClass)" #formUpdateClass="ngForm">
  <div class="form-group row">
    <label for="staticId" class="col-sm-2 col-form-label">Mã Lớp Học</label>
    <div class="col-sm-10">
      <input name="id" type="text" readonly class="form-control-plaintext" id="staticId" [value]="idos">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Tên Lớp Học</label>
    <div class="col-sm-10">
      <input name="name" [(ngModel)]="nameoc" type="text" class="form-control" id="inputName" placeholder="Nhập tên!">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Giáo Viên Chủ Nhiệm</label>
    <div class="col-sm-10">
      <input name="monitor" [(ngModel)]="nameom" type="text" class="form-control" id="inputName" placeholder="Nhập tên!">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4"></div>
    <div class=" col-sm-4">
      <button class="btn btn-primary btn-sm stylebuttonupdate" style="color:white;display: inline-block; margin: 0 auto;">Cập Nhật</button>&nbsp;
      <button (click)="statusclasstable=!statusclasstable" class="btn btn-primary btn-sm stylebuttonupdate" style="color:white;display: inline-block; border: chocolate; background-color: chocolate; margin: 0 auto;"
       >Hủy</button>
    </div>
    <div class="col-sm-4"></div>
  </div>
</form>