<nav class="sticky-top navbar navbar-expand-sm row" style="padding:10px; background-color: #f5f8fa; margin: 0px">
  <form class="form-inline col-sm-7" action="">
    <input class="form-control mr-sm-2" name="searchname" placeholder="Search" [(ngModel)]="searchText" />
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>
<br>
<div class="container-fluid">
  <form (ngSubmit)="onSubmit(formStatistics)" #formStatistics="ngForm">
    <div class="form-group row">
      <label class="col-sm-1">Từ</label>&nbsp;
      <input name="minVal" ngModel id="inputName" class="form-control col-sm-2" type="number" value="0" min="0" max="10">
      <label class="col-sm-1">Đến</label>&nbsp;
      <input name="maxVal" ngModel class="form-control col-sm-2 " type="number" value="10" min="0" max="10">&nbsp;
      <button style="border: #D95355; background-color: #D95355; color:white" class="btn btn-success col-sm-2">Duyệt</button>
    </div>
  </form>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Mã Sinh Viên</th>
      <th>Tên Sinh Viên</th>
      <th>Điểm</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let statistic of arrStatistics">
      <ng-container>
        <td>{{statistic.student_id}}</td>
        <td>{{statistic.student_name}}</td>
        <td>{{statistic.score}}</td>
      </ng-container>
    </tr>
  </tbody>
</table>

<canvas id='canvas'>{{chart}}</canvas>